---
---

@import "{{ site.theme }}";

a:any-link {
	color: #b5e853;
	text-decoration: none;
}

a {
	color: #b5e853;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

nav {
	padding-bottom: 20px;
}

#downloads {
	position: absolute;
}

#downloads .btn-github {
	-webkit-linear-gradient(top,rgba(40,40,40,1),rgba(35,35,35,1) 50%,rgba(10,10,10,1) 50%,rgba(0,0,0,1))
}
